<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="Eyal Hazor">
    <meta name="description"
        content="<%if (locals.description) { %><%= description %><% } else { %>Online games and gamedev tutorials<% } %>">
    <meta name="keywords"
        content="<%if (locals.keywords) { %><% keywords.forEach( keyword => { %><%= keyword %>,<% }); %><% } else { %>HTML,JavaScript,Game Development,Tutorial<% } %>">
    <meta name="og:image" content="<%if (locals.image) { %><%= image %><% } else { %>/images/worm.png<% } %>">
    <title><%if (title == "Home") { %>
        Wormius Games
        <% } else { %>
        <%= title %>
        <% } %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="shortcut icon" href="<%if (locals.icon) { %><%= icon %><% } else { %>/images/worm.png<% } %>" type="images/x-icon">
    <link rel="stylesheet" href="/stylesheets/includes/header.css">
    <link rel="stylesheet" href="/stylesheets/includes/footer.css">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-145688783-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-145688783-1');
    </script>
    <!-- Cookie Banner -->
    <!--
    <script type="text/javascript">
        var _iub = _iub || [];
        _iub.csConfiguration = { "lang": "en", "siteId": 1686319, "enableRemoteConsent": true, "cookiePolicyId": 58096393, "banner": { "acceptButtonDisplay": true, "position": "float-top-center" } };
    </script>
    <script type="text/javascript" src="//cdn.iubenda.com/cs/iubenda_cs.js" charset="UTF-8" async></script>
    -->
    <script data-ad-client="ca-pub-7702090826216846" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>

<body>
    <header class="navbar navbar-expand navbar-light flex-column flex-md-row header">
        <a href="/" class="navbar-brand">
            <img src="/images/worm.png" alt="wormius" id="icon">
        </a>
        <div class="navbar-nav-scroll">
            <ul class="navbar-nav bd-navbar-nav flex-row" id="nav-list">
                <li class="nav-item <%if (title == 'Home') { %>active<% } %> bg-light rounded border ml-1">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item <%if (title == 'About') { %>active<% } %> bg-light rounded border ml-1">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item <%if (title == 'Games') { %>active<% } %> bg-light rounded border ml-1">
                    <a class="nav-link" href="/games">Games</a>
                </li>
                <li class="nav-item <%if (title == 'Tutorials') { %>active<% } %> bg-light rounded border ml-1">
                    <a class="nav-link" href="/tutorials">Tutorials</a>
                </li>
                <li class="nav-item <%if (title == 'Tools') { %>active<% } %> bg-light rounded border ml-1">
                    <a class="nav-link" href="/tools">Tools</a>
                </li>
                <!--
                <li class="nav-item <%if (title == 'Blog') { %>active<% } %> bg-light rounded border ml-1">
                    <a class="nav-link" href="/blog">Blog</a>
                </li>
                -->
            </ul>
        </div>
        <br>
        <div id = "contentDropdown"></div>
        <div class="marquee info">
            <p id = "supportersInfo" class="fancy lead font-weight-bold">
                <span>Supporters will show here.</span> To support go to <a href="https://www.buymeacoffee.com/wormius">buymeacoffee.com/wormius</a>
            </p>
        </div>
    </header>

    <script src="/scripts/includes/header.js"></script>
</body>

</html>